<footer class="bg-gray-800 mt-5 p-5 flex flex-col items-center text-yellow-500 text-center ">
  <span>
    Developed with ❤ by Martin Yanchev © 2022
  </span>
  <span>
    Credits for tools and images:
  </span>
  <ul>
    <li>Css Library: Tailwind</li>
    <li>Fonts: Google fonts</li>
    <li>Images: Unsplash</li>

  </ul>
</footer>