 <div class="navbar">
      <a class="site-name" to="/">
          Pizza Biola
      </a>
      <div class="nav-items">
            <img class="logo" src="images/logo.png" alt="" />
          <div class="nav-item">
            <p>Menu</p>
          </div>
          <div class="nav-item">
            <a to="/about">About</Link>
          </div>
          <div class="nav-item">
            <p>Login</p>
          </div>
      </div>
    </div>