 <div class="navbar border-b-2 border-yellow-500">
      <a class="site-name" href="/">
          Pizza Biola
      </a>
      <div class="nav-items">
          <img class="logo" src="/images/logo.png" alt="" />
          <div class="nav-item">
            <a href="/">Home</a>
          </div>
          <div class="nav-item">
            <p>Menu</p>
          </div>
          <div class="nav-item">
            <a href="/about">About</a>
          </div>
          <div class="nav-item">
            <p>Login</p>
          </div>
      </div>
    </div>