<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>Document</title>

</head>
<body class="bg-gray-900">
   {{>nav}}
  <div class="container flex  mx-auto justify-center align-center py-2 mt-10">
    <div class="container w-1/2 bg-gray-800 p-4">

      <h2 class="text-yellow-600 text-4xl">About us</h2>
      <p class="text-gray-500">Pizza Biola is a family italian restaurant inspired to deliver italian dishes made from homegrown products</p>
   
      <div class="container mx-auto mt-4">
        <h3 class="text-yellow-600 text-2xl">Why choose us ?</h3>
        <p class="text-gray-500">Pizza Biola is a family italian restaurant inspired to deliver italian dishes made from homegrown products</p>
        <span class="text-yellow-600 text-lg">We provide to our clients</span>
        <div class="mt-4 flex flex-col space-y-4">
          <div class="bg-gray-900 border-l-4 border-green-600 rounded-l flex justify-between align-center space-x-2 p-3 text-center text-gray-200">
            <div class="flex-none">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 10L9 12L13 8M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="#16a34a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <span class="justify-self-center flex-1	">
              Home made dishes
            </span>
          </div>
          <div class="bg-gray-900 border-l-4 border-green-600 rounded-l flex justify-between align-center space-x-2 p-3 text-center text-gray-200 mb-3">
            <div class="flex-none">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 10L9 12L13 8M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="#16a34a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <span class="justify-self-center flex-1	">
              Always fresh ingredients
            </span>
          </div>
          <div class="bg-gray-900 border-l-4 border-green-600 rounded-l flex justify-between align-center space-x-2 p-3 text-center text-gray-200 mb-3">
            <div class="flex-none">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 10L9 12L13 8M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="#16a34a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <span class="justify-self-center flex-1	">
             Friendly service
            </span>
          </div>
        </div>
        <div class="mt-4">
          <span class="text-yellow-600 text-2xl">Our story</span>
          <p class="text-gray-500">The restaurant was founded in 1986 by grand father. Ever since then our family is working tirelessly  to provide great customer service and tasty food.</p>

        </div>
        <!-- timeline  -->
        

      </div>
    </div>
  </div>
  {{>footer}}

</body>