<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>Document</title>

</head>
<body class="bg-gray-900">
   {{>nav}}
  <div class="container text-center mx-auto px-4 pt-16 ">
    <div class="w-1/2 flex items-center	">
      <h1 class="text-yellow-500 font-belle text-5xl border-b-4 border-yellow-500">Most wanted</h3>

    </div>
     <div class="carousel h-auto border-l-4  border-b-4 border-yellow-500 sm:p-4">
         <button class="carousel-button-left bg-slate-600 p-2 rounded hover:bg-slate-700">&#10094;</button>
        {{#mostVoted}}
        <div class="carousel-item  rounded-[10px]   margin-b-2">
          <div class="flex flex-col lg:flex-row w-full justify-center items-center overflow-hidden">
            <img class="carousel-img" src="images/{{image}}" alt="">
            <div class="text-yellow-500 flex flex-col space-y-6">
              <h3 class="text-4xl font-bold border-yellow-500 border-b-4 w-1/2 self-center">{{name}}</h3>
              <p class="text-center text-gray-200 ">{{description}}</p>
              <div class="flex ml-2 bg-gray-900 flex-col justify-evenly  md:flex-row p-2 rounded border-2 border-yellow-500 hover:bg-yellow-500 hover:text-gray-900">
                <p class="p-2  w-1/4 ">Price: £{{price}}</p>
                <p class="px-4 py-2 w-1/3">Total likes: {{votes}}</p>
              </div>
              <a href="/dishes/{{_id}}" class="inline-block w-1/2 self-center text-yellow-500 p-2 bg-gray-900 border-2
                                               border-yellow-500 rounded-lg hover:bg-yellow-500 
                                               hover:text-gray-900
                                               ransition duration-150 ease-out hover:ease-in">Details</a>
            </div>
          </div>
        </div>
        {{/mostVoted}}
        <button class="carousel-button-right bg-slate-600 p-2 rounded hover:bg-slate-700">&#10095;</button>
     </div>
  </div>

 
  <div class="container mx-auto px-4 pt-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {{#dishes}}
      <div class="bg-gray-800 rounded-lg shadow-lg p-4">
        
        <img class="w-full" src="images/{{image}}" alt="">
        <div class="p-4">
          <h3 class="text-yellow-500 font-belle text-2xl">{{name}}</h3>
          <p class="text-yellow-500 font-belle text-xl">{{description}}</p>
          <p class="text-yellow-500 font-belle text-xl">£{{price}}</p>
          <div class="my-2 align-center">
            <a href="/dishes/{{_id}}" class="bg-yellow-600 hover:bg-yellow-900 text-gray-800 py-2 px-4 rounded-lg my-5">View</a>
          </div>
        </div>
      </div>
      {{/dishes}}
    </div>
  </div>
  {{>footer}}

  {{>scripts}}
</body>
</html>