<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>Document</title>

</head>
<body>
   {{>nav}}
     <div class="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="images/pizza.jpeg" alt="" srcset="">
          </div>
          <div class="carousel-item">
            <img src="images/pizza.jpeg" alt="" srcset="">
          </div>
          <div class="carousel-item">
            <img src="images/pizza.jpeg" alt="" srcset="">
          </div>
        </div>
     </div>

  {{>scripts}}
</body>
</html>