<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>Document</title>

</head>
<body class="bg-gray-900">
  {{>nav}}

  <div class="relative flex flex-col overflow-x-auto shadow-md sm:rounded-lg p-4">
  <div class="my-6 flex justify-end">

    <a class="px-8 py-2 m-2 bg-blue-700 text-white rounded hover:bg-blue-600" href="/dishes/add">Add</a>
  </div>
  <table class="w-full text-sm text-left text-gray-500 text-gray-400">
  <thead class="text-xs text-white uppercase bg-gray-50 bg-gray-700 text-gray-400">
  <tr>
  <th scope="col" class="px-6 py-3">
  Name
  </th>
  <th scope="col" class="px-6 py-3">
    Category
  </th>
  <th scope="col" class="px-6 py-3">
  Description
  </th>
  <th scope="col" class="px-6 py-3">
    <span class="p-4 bg-yellow-500 text-gray-700">

      Price
    </span>
  </th>
  <th scope="col" class="px-6 py-3">
    Show on menu
  </th>
  <th scope="col" class="px-6 py-3">
  <span class="sr-only">Edit</span>
  </th>
  <th scope="col" class="px-6 py-3">
    <span class="sr-only">Delete</span>
    </th>
  </tr>
  </thead>
  <tbody>
  {{#dishes}}
    <tr class="bg-white border-b bg-gray-800 border-gray-700 hover:bg-gray-50 hover:bg-gray-600">
    <th scope="row" class="px-6 py-4 font-medium text-white text-white whitespace-nowrap">
    {{name}}
    </th>
    <td class="px-6 py-4">
      <span class="p-2 bg-green-500 text-white rounded">

        {{category}}
      </span>
    </td>
    <td class="px-6 py-4">
    {{description}}
    </td>
    <td class="px-6 py-4">
    {{price}}
    </td>
    <td>
    

      {{#show_on_menu}}
      <span class="p-2 bg-green-500 text-white rounded">
        Yes
      </span>
      {{/show_on_menu}}
      {{^show_on_menu}}
      <span class="p-2 bg-orange-500 text-white rounded">
      NO
    </span>
      {{/show_on_menu}}
    </td>
    <td class="px-6 py-4 text-right">
    <a href="dishes/edit/{{_id}}" class="font-medium text-blue-600 text-blue-500 hover:underline">Edit</a>
    </td>
    <td>
    <a href="dishes/delete/{{_id}}" class="font-medium text-red-600 text-red-500 hover:underline p-4">Delete</a>
    </td>
    </tr>
    </tbody>
    {{/dishes}}
  </table>
  </div>
  
  {{>footer}}

</body>